/*-- scss:defaults --*/

$body-bg: white;

$newcolor: #2a5f7a;

$headings-color: 	#2a5f7a;  

$navbar-hl: #b7b3a4;

$navbar-fg: #2a5f7a;




$navbar-padding-y: 0rem !important;

$navbar-padding-x: 5rem !important;





$presentation-heading-color: #2a5f7a;

$presentation-heading-font: Book Antiqua;

$link-color: #C00000;





/*-- scss:rules --*/

.nav-link {
  font-family: $presentation-heading-font !important;
  font-weight: 700 !important;
 
}




.reveal .slide-number {
  font-family: $presentation-heading-font;
}

.reveal .slide-logo {
  height: 95px !important;
  width: 95px!important;
  max-width: unset !important;
  max-height: unset !important;
}

.reveal {
  font-family: Book Antiqua;
  font-weight: normal;
  
  }
  

.btn-outline-primary {
    color: #2a5f7a;
    background-color: transparent;
    background-image: none;
    border-color: #2a5f7a;
}

.btn-outline-primary:hover {
    color: white;
    background-color: #2a5f7a;
    border-color: #2a5f7a;
}
  
.btn-link {
    color: #2a5f7a;
    background-image: none;
    text-decoration: none;
    
}

.btn-link:hover {
    color: #C00000;
    text-decoration: none;
    
}
  
  
.navbar-logo {
  max-width: 100%;
  max-height: 100%;
  display: block;  
  
}

.nav-link {
  font-weight: 500;
}


h2 {
  
  margin-left: 20px;
  margin-right: 20px;
  text-align: center;
  border-bottom-width: medium;
  
}


h3 {
  color: black;
  font-size: 1.2em;
  text-align: left;
  
}

h4 {
  text-align: left;
}

.card-footer {
  background: none;
  border: none;
}


.contact {
  position: relative;
  min-height: 100vh;
  padding: 50px 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  
}

.contact .content {
  max-width: 800px;
  text-align: center;
}

.container {
  width: 100%;
  display:flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  
}

.container .contactInfo {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.container .contactInfo .box {
  position: relative;
  padding: 20px 0;
  display: flex;
}

.container .contactInfo .box .icon {
  min-width: 50px;
  height: 50px;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 16px;
  
}

.container .contactInfo .box .text {
  
  display:flex;
  margin-left: 20px;
  font-size: 16px;
  flex-direction: column;
  font-weight: 300;
  color: #2a5f7a;
  margin-top: -25px;
  
}

.container .contactInfo .box .text h3 {
  font-weight: 500;
  color: #2a5f7a;
}

.contactForm {
  width: 40%;
  padding: 40px;
  background:  white;
}

.contactForm h3 {
  font-size: 30px;
  font-weight: 500;
  color: #2a5f7a ;
}

.contactForm .inputBox {
  position: relative;
  width: 100%;
  margin-top: 10px;
}

.contactForm .inputBox input {
  width: 100%;
  padding: 5px 0;
  font-size: 16px;
  margin: 10px 0;
  border: none;
  border-bottom: 2px solid #333;
  outline: none;
  resize: none;
  
}



.contactForm .inputBox textarea {

  width: 100%;
  padding: 5px 0;
  font-size: 16px;
  margin: 10px 0;
  border: none;
  border-bottom: 2px solid #333;
  outline: none;
  resize: none;
  
}

.contactForm .inputBox span {
  position: absolute;
  left: 0;
  padding: 5px 0;
  font-size: 16px;
  margin: 0px 0;
  pointer-events: none;
  transition: 0.5s;
  color: #666;
  
}

.contactForm .inputBox input:focus ~ span,
.contactForm .inputBox input:valid ~ span,
.contactForm .inputBox textarea:focus ~ span,
.contactForm .inputBox textarea:valid ~ span{
  color: #e91e63;
  font-size: 12px;
  transform: translateY(-20px);
} 

.contactForm .inputBox input[type="submit"] {
  width: 100px;
  background:  #2a5f7a ;
  color: #fff;
  border: none;
  cursor: pointer;
  padding: 10px;
  margin-top: 20px;
  font-size: 18px;
}

@media (max-width: 991px)
{
  .contact{
    padding:  50px;
  }
  .container {
    flex-direction: column;
  }
  .container .contactInfo {
    margin-bottom: 40px;
  }
  .container .contactInfo,
  .contactForm{
    width: 100%;
  }
}



#process img {
  
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 45%;
 
  
}

#process {
  text-align: center;
}



#home {
  width: 100%;
  height: 500px;
  background-image: url('images/home3.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
 

}


#action p {
  color: #8d4004;
  font-size: 24px;
  text-align: left;
  margin-left: 30px;
}

#questions p {
  color: #8d4004;
  font-size: 24px;
  text-align: left;
  margin-right: 30px;
}

#aboutus p {
  color: #8d4004;
  font-size: 24px;
  text-align: left;
  margin-left: 30px;
}


#venn img {
  
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
 
  
}

#venn {
  text-align: center;
}

#pyramid img {
  
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
 
  
}

#pyramid {
  text-align: center;
}

#domino img {
  
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
 
  
}

#domino {
  text-align: center;
}