/* css styles */

#captions {
  
  border-left: 10px solid #00a99d;
  padding-left: 20px;
  font-size: 42px;
  position: relative;
  left: 50px;
}

#thumbnail {
  display: grid;
  place-items: center;
}
  



.column-screen {
background-repeat: no-repeat;
margin-top: -32px;

}

.grid {
  
  margin-top: 30px
}

.g-col-6{
  border: solid;
  border-width: 2px;
  display: grid;
  place-items: center;
  
}

.g-col-4{
  border: solid;
  border-width: 2px;
}

#heading {
  color: black;
  margin-top: 30px;
  margin-left: -100px;
}