/* css styles */


.grid {
  
  display: grid;
  place-items: center;
  text-align: center;
  
  
}

.expert {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 200px 200px;
  margin-right: 180px;
  margin-left: 180px;
 
    
}

.expertise{
  
  box-shadow: 0 0 10px rgba(0,0,0,0.4);
  border-radius: 5px;
  background: #ebecfd;
  display:flex;
  align-items:center;
  justify-content:center;
  margin: 10px;
  

}

.expertise:hover {
  background:white;
}

.cardimages {
  text-align: center;
}

.card-title {
  text-align:center;
}

#our-expertise {

  margin-bottom: 0px;
  place-items: center;
  text-align: center;
  padding-right:130px;
  padding-left:130px;

  
  
  
}


#past-work {
 
  margin-bottom: 0px;
  place-items: center;
  text-align: center;
  padding-right:130px;
  padding-left:130px;
  
  
  
  
 
}

#industries {
  height: 300px;
  place-items: center;
  text-align: center;
  padding-right: 130px;
  padding-left: 130px;

  
}



.footer {
  background: white;
  color: #2a5f7a;
  padding: 40px 0;
  font-family: Book Antiqua;
  
}

.footer .social {
  
  text-align: center;
  padding-bottom: 25px;
  
}

.footer .social a {
  font-size: 24px;
  border: 1px solid #ccc;
  width: 40px;
  height: 40px;
  line-height: 38px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  margin: 0 8px;
  opacity: 0.75;
}

.footer .social a:hover{
  opacity: 0.9;
}

.footer ul {
  margin-top: 0;
  padding: 0;
  list-style: none;
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 0;
  text-align: center;
}

.footer ul li a {
  color:inherit;
  text-decoration: none;
  opacity: 0.8;
  
}

.footer ul li {
  display: inline-block;
  padding: 0 15px;
  
}

.footer ul li a:hover {
  opacity: 1;
}
#tools {
  margin-bottom: 0px;
  place-items: center;
  text-align: center;
  padding-right:130px;
  padding-left:130px;
}

.tools-image {

  display: block;
  text-align: center;
  margin: 50px;



}

.home {
 background-image: url("images/muqarnas.jpg"); 
 height: 500px;
 background-size: cover;
 opacity:80%;

 
}

.domino {
 background-image: url("images/domino.png"); 
 height: 550px;
 margin-left: 250px;
 margin-right: 250px;
 margin-top: 50px;
 background-size: cover;
 
}

.pyramid {
 background-image: url("images/pyramid.png"); 
 height: 600px;
 margin-left: 250px;
 margin-right: 250px;
 margin-top: 50px;
 background-size: cover;
 
}

.g-col-3{
  display: grid;
}


   
   
   
  
   
}

  
#email {

  border-left: solid;
  
}



.link:hover {
  color:#b7b3a4;
}

#aboutus {
  margin-top: 50px;
  margin-right: 150px;
  margin-left: 150px;
  text-align: center;
}

.portfolio {
  

  height: 650px;
  text-align: left;
  font-size: 0.8em;
  
  
 
}

.consult {
  margin-bottom: 120px;
 
}

.consulting{
  text-align: left;
  vertical-align: text-top;
  font-size: 0.8em;
  height: 450px;
  padding-top: 1px;
}



.training{
  text-align:left ;
  vertical-align: text-top;
  height: 450px;
  font-size: 0.8em;
  padding-top: 1px;
}

.portfolioheading {
  text-align: center;
  margin-top: 50px;
}


a:link {
  color: inherit;
  text-decoration: none;
}

a:visited {
  color: inherit;
  text-decoration: none;
}


#button1 {
 text-align: center;
 margin-bottom: 50px;

}

#button2 {
 text-align: center;
 margin-bottom: 50px;

}

.button3{
  text-align:center;
  margin-bottom: 50px;
}
.process {
  width: 500px;
  height: 500px;
  margin-left: 280px;;
}


.card {
  margin: 0px;
  padding: 0px;
}


.profile:hover { 
 color: #b7b3a4;
}

.twitter:hover {
   color: #b7b3a4;
}


}
